:root {
  --white: #fff;
  --white-100: #f9f9f9;
  --black: #212121;
  --gray: #b0b0b0;
  --beige: #f2ebdb;
  --green: #3b755f;
  --light-green: #afc6bd;
  --blue: #2e3a8c;
}

:root {
  --color-background: var(--white-100);
  --color-text: var(--black);
  --color-border: var(--gray);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: 'Cabin', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (min-width: 992px) {
    background: var(--color-white);
  }
}
